<h1>About BetterER</h1>
<p>BetterER is a simple to use tool for creating ER-Diagrams.</p>
<p>With BetterER you are able to create the following things: </p>
<ul>
  <li><strong>ER-Diagrams</strong></li>
  <li><strong>SQL Files</strong></li>
  <li><strong>Maybe more to follow</strong></li>
</ul>
<p>The tool was originally developed by <a href="https://www.github.com/praktii" target="_blank">Hendrik Roskamp</a>. View the original <a href="https://github.com/praktii/betterer" target="_blank">repository</a> for more information</p>
<p>Found a problem or want to suggest a feauture? No problem <a href="https://github.com/praktii/BetterER/issues/new/choose" target="_blank">this</a> way.</p>